@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "bootstrap.min.css";
@import "theme.css";
@import "font-style.css";
body,
html {
  color: #cccccc;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
}
.navbar-inverse .navbar-brand {
  color: #00abf5;
}
.dash-unit {
  padding-bottom: 16px;
}
.dash-unit dtitle {
  color: #00abf5;
  text-transform: none;
}
.dash-unit .date {
  float: right;
  color: #ccc;
  padding-top: 4px;
}
hr {
  margin-bottom: 6px;
}
.empty-listing {
  text-align: center;
  color: #444;
}
.test-img-wrapper {
  padding-bottom: 20px;
}
.upload-input {
  position: relative;
  padding-bottom: 20px;
}
.upload-input * {
  cursor: pointer;
}
.upload-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.upload-input .fa-huge {
  font-size: 140px;
  margin: 52px 0 0px 0;
}
.upload-input button,
.upload-input .form-group {
  position: relative;
}
.upload-input .checkbox {
  position: relative;
  width: 190px;
  margin: 0 auto;
}
.upload-input .checkbox label {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 10px;
}
.upload-input .btn-success {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
.upload-input .upload-form {
  margin: 0 auto;
  width: 300px;
}
.menu-upload {
  position: relative;
  overflow: hidden;
}
.menu-upload * {
  cursor: pointer;
}
.menu-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200%;
  opacity: 0;
}
.menu-upload:hover {
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
ul.credits-line {
  list-style: none;
  text-align: center;
  font-size: 12px;
}
ul.credits-line a {
  color: #cccccc;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
ul.credits-line a:hover {
  color: #999999;
}
ul.credits-line li {
  display: inline;
}
ul.credits-line li:not(:last-child):after {
  content: '·';
}
.navbar-inverse .keypoints-engine-switch li {
  overflow: hidden;
}
.navbar-inverse .keypoints-engine-switch li a {
  text-transform: uppercase;
  background: #1c1c1c;
  margin-top: 5px;
  padding: 10px 15px;
}
.navbar-inverse .keypoints-engine-switch li a:hover {
  -webkit-box-shadow: 0 0 10px inset #080808;
  -moz-box-shadow: 0 0 10px inset #080808;
  box-shadow: 0 0 10px inset #080808;
  background: #1c1c1c;
  color: #00abf5;
}
.navbar-inverse .keypoints-engine-switch li.active a {
  color: #00abf5;
  background: #1c1c1c;
  -webkit-box-shadow: 0 0 10px #000000 inset;
  -moz-box-shadow: 0 0 10px #000000 inset;
  box-shadow: 0 0 10px #000000 inset;
}
.navbar-inverse .keypoints-engine-switch li.active a:hover {
  color: #00abf5;
  background: #1c1c1c;
}
.navbar-inverse .keypoints-engine-switch li:first-child a {
  -webkit-border-radius: 4px 0 0 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 0 0 4px;
  -moz-background-clip: padding;
  border-radius: 4px 0 0 4px;
  background-clip: padding-box;
}
.navbar-inverse .keypoints-engine-switch li:last-child a {
  -webkit-border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
}
