@import "../bower_components/lesshat/build/lesshat";
@import (css) "../bower_components/font-awesome/css/font-awesome.min.css";
@import (css) "bootstrap.min.css";
@import (css) "theme.css";
@import (css) "font-style.css";


@colorPrimary: #00ABF5;
@colorText: #ccc;

body, html {
	color: @colorText;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
}

.navbar-inverse .navbar-brand {
	color: @colorPrimary;
}
.dash-unit {
	padding-bottom: 16px;
	dtitle {
		color: @colorPrimary;
		text-transform: none;
	}
	.date {
		float: right;
		color: #ccc;
		padding-top: 4px;
	}
}
hr {
	margin-bottom: 6px;
}
.empty-listing {
	text-align: center;
	color: #444;
}
.test-img-wrapper {
	padding-bottom: 20px;
}
.upload-input {
	position: relative;
	padding-bottom: 20px;
	* {
		cursor: pointer;
	}
	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		opacity: 0;
	}
	.fa-huge {
		font-size: 140px;
		margin: 52px 0 0px 0;
	}
	button, .form-group {
		position: relative;
	}
	.checkbox {
		position: relative;
		width: 190px;
		margin: 0 auto;
		label {
			display: block;
			width: 100%;
			white-space: nowrap;
			padding: 10px;
		}
	}
	.btn-success {
		width: 300px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.upload-form {
		margin: 0 auto;
		width: 300px;
	}
}

.menu-upload {
	position: relative;
	overflow: hidden;
	* {
		cursor: pointer;
	}
	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 200%;
		opacity: 0;
	}
	&:hover {
		color: #fff;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

ul.credits-line {
	list-style: none;
	text-align: center;
	font-size: 12px;
	a {
		color: @colorText;
		.transition(color 200ms);
		&:hover {
			color: darken(@colorText, 20%);
		}
	}
	li {
		display: inline;
	}
	li:not(:last-child):after {
		content: '·';
	}
}

.navbar-inverse .keypoints-engine-switch {
	@switchRadius: 4px;
	li {
		overflow:hidden;
		a {
			text-transform: uppercase;
			background: lighten(#080808, 8%);
			margin-top: 5px;
			padding: 10px 15px;
			&:hover {
				.box-shadow(0 0 10px inset #080808);
				background: lighten(#080808, 8%);
				color: @colorPrimary;
			}
		}
	}
	li.active a {
		color: @colorPrimary;
		background: lighten(#080808, 8%);
		.box-shadow(0 0 10px #000 inset);
		&:hover {
			color: @colorPrimary;
			background: lighten(#080808, 8%);
		}
	}
	li:first-child a {
		.border-radius(@switchRadius 0 0 @switchRadius);
	}
	li:last-child a {
		.border-radius(0 @switchRadius @switchRadius 0);
	}
}